* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #8b0000, #000000); 
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
}

label {
    font-size: 14px;
    color: #ccc;
}

input, textarea, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"], input[type="date"], input[type="url"], textarea {
    width: 100%;
}

textarea {
    resize: vertical;
}

.button-container {
    display: flex;
    justify-content: flex-start; 
    gap: 15px; 
    margin-top: 20px; 
}

.back-btn {
    background-color: #f00;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;  
}

.back-btn:hover {
    background-color: #7e050f;
}

button[type="submit"] {
    background-color: #f00;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #7e050f;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        max-width: 100%;
        padding: 10px;
    }

    input, textarea, select {
        width: 100%;
    }
    .back-btn{
        padding: 10px;
    }
}
